html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card .arrow {
  transition: 0.2s all;
  transform: translateX(0px);
}

.card:hover .arrow {
  transform: translateX(20px);
}

.card {
  transition: 0.2s all;
}

.card:hover {
  background-color: #c0d7f6;
}